.container[b-84l7b28s1c] {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

.price[b-84l7b28s1c] {
    color: green
}

.img[b-84l7b28s1c] {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

img:hover[b-84l7b28s1c] {
    transform: scale(1.1) rotate(5deg);
}

.featured-product[b-84l7b28s1c] {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023.98px) {
    .container[b-84l7b28s1c] {
        justify-content: flex-start;
    }
}
